.App {
  text-align: center;
  height: 100dvh;
  background-color: #30384b;
}

.text{
  display: flex;
  justify-content: space-evenly;
  color: hotpink;
  font-size: 20px;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: hotpink;
}

.App-link {
  color: #61dafb;
}


button{
  font-size: 30px;
  color: hotpink;
  margin-right: 20px;
}




